@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.marko .p-menuitem-link {
  justify-content: flex-end;
  border-bottom: 5px solid #c4c5d7 !important;
}
.marko .p-menuitem-link-active {
  border-bottom: 10px solid blue !important;
}

.marko .p-menuitem-text {
  padding-bottom: 31px;
  margin-top: 31px;
  margin-right: 50px;
}

.marko .p-menuitem-icon {
  margin-left: 50px;
  margin-right: 50px;
}

.marko .p-tabmenu-nav,
.custom-tab-menu .p-tabmenu-nav {
  background-color: blue;
}

.custom-tab-menu .p-tabmenu-nav .p-tabmenuitem.p-highlight {
  background-color: red;
}

.custom-tab-menu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-text {
  color: rgb(149, 89, 89);
}

.custom-menubar .p-menuitem-active .p-menuitem-text {
  border-bottom: 2px solid blue;
  /* Add any other desired styles for the text */
}

.custom-menubar .p-menuitem-active .p-menuitem-icon {
  /* Add any desired styles for the icon */
  border-bottom: 2px red !important;
  padding-bottom: 2px !important;
}
